<!DOCTYPE HTML>
<html lang="en">
	<head>
		<title>Billsify Home</title>
		<meta charset="utf-8" />
		<link rel="shortcut icon" href="../images/favicon.ico" type="image/x-icon">
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="../css/main.css" />
	</head>
	<body class="left-sidebar is-preload">
		<div id="page-wrapper">

			<!-- Header -->
				<section id="header">
					<div class="container">

						<!-- Logo -->
						<h1 id="logo"><a href="../index.html"><i>₿</i>illsify</a></h1>
						<p>The application that simplifies the home economy</p>

						<!-- Nav -->
						<nav id="nav">
							<ul>
								<li><a class="icon solid fa-home" href="../index.html"><span>Home</span></a></li>
								<li class="active"><a class="icon solid fa-cogs" href="application_details.html"><span>Application Details</span></a></li>
								<li><a class="icon solid fa-dollar-sign" href="go_premium.html"><span>Go premium </span></a></li>
								<li><a class="icon solid fa-mail-bulk" href="contact.html"><span>Contact Us</span></a></li>
							</ul>
						</nav>

					</div>
				</section>

			<!-- Main -->
				<section id="main">
					<div class="container">
						<header>
							<h2>Not just another app. <strong>Behold</strong>!</h2>
						</header>
						<div class="row aln-center">
							<div class="col-4 col-6-medium col-12-small">

								<!-- Feature -->
								<section>
									<a href="application_details.html" class="image featured"><img src="../images/AppHome.png" alt="Bllsify Home Android" /></a>
									<a href="application_details.html" class="image featured"><img src="../images/AppHomeiOS.png" alt="Bllsify Home iOS" /></a>
									<header>
										<h3>Expenses overview</h3>
									</header>
									<p>To have a clear idea of where the <strong>₿₿₿</strong> is being spent. This color coded pie chart will provide all the needed information to keep your expenses at bay.
										<a href="https://github.com/lismenealo/billsify_android">Look here</a> to contribute with the development, all PRs are welcome.</p>
								</section>

							</div>
							<div class="col-4 col-6-medium col-12-small">

								<!-- Feature -->
								<section>
									<a href="application_details.html" class="image featured"><img src="../images/AppBillsGallery.png" alt="Bills Gallery Android Application" /></a>
									<a href="application_details.html" class="image featured"><img src="../images/AppBillsGalleryiOS.png" alt="Bills Gallery iOS Application" /></a>
									<header>
										<h3>Multiplatform availability</h3>
									</header>
									<p>All the details of your captures and metadata associated are available at all times, in iOS or Android.
										<a href="https://github.com/lismenealo/billsify_macos">Contributions always welcome</a> go crazy with <strong>Swift</strong>.</p>
								</section>

							</div>
							<div class="col-4 col-6-medium col-12-small">

								<!-- Feature -->
								<section>
									<a href="application_details.html" class="image featured"><img src="../images/AppsBillDetails.png" alt="Bill's details Android Application" /></a>
									<a href="application_details.html" class="image featured"><img src="../images/AppsBillDetailsiOS.png" alt="Bill's details iOS Application" /></a>
									<header>
										<h3>All the details that you may need</h3>
									</header>
									<p><strong>Metadata</strong> to classify your captured <strong>₿ills</strong>
										in order to set apart your captures based on the reason/date/amount or any other descriptive detail</p>
								</section>

							</div>
							<div class="col-12">
								<!-- Feature -->
								<section>
									<a href="application_details.html" class="image featured"><img src="../images/OCR-Animation-Low-Quality-Image-540px-opt.gif" alt="Bill's details iOS Application" /></a>
									<header>
										<h3>OCR for captured <i>₿</i>ills</h3>
									</header>
									<p><strong>Metadata</strong> to classify your captured <strong>₿ills</strong> will be automatically generated using OCR</p>
								</section>
							</div>
							<div class="col-12">
								<ul class="actions">
									<li><a href="go_premium.html" class="button icon solid fa-file">Go Premium</a></li>
								</ul>
							</div>
						</div>
					</div>
				</section>

			<!-- Footer -->
				<section id="footer">
					<div class="container">
						<header>
							<h2>Questions or comments? <strong>Get in <a href="contact.html">touch:</a></strong></h2>
						</header>
						<div class="row">
							<div class="col-12 col-12-medium">
								<section>
									<h2 class="hidden">Contact us</h2>
									<p>Get in contact with us <a href="contact.html">here</a> or via social media</p>
									<div class="row">
										<div class="col-6 col-12-small">
											<ul class="icons">
												<li class="icon solid fa-home">
													Carrer AlgunSitio 1234<br />
													Valencia, Valencia, CP: 460001<br />
													Spain
												</li>
												<li class="icon solid fa-phone">
													(+34) 612 34 56 78
												</li>
												<li class="icon solid fa-envelope">
													<a href="contact.html#">info@billsify.com</a>
												</li>
											</ul>
										</div>
										<div class="col-6 col-12-small">
											<ul class="icons">
												<li class="icon brands fa-twitter">
													<a href="#">@billsfy</a>
												</li>
												<li class="icon brands fa-instagram">
													<a href="#">instagram.com/billsfy</a>
												</li>
												<li class="icon brands fa-dribbble">
													<a href="#">dribbble.com/biilsfy</a>
												</li>
												<li class="icon brands fa-facebook-f">
													<a href="#">facebook.com/biilsfy</a>
												</li>
											</ul>
										</div>
									</div>
								</section>
							</div>
						</div>
					</div>
					<div id="copyright" class="container">
						<ul class="links">
							<li>&copy; ₿illsify. All rights reserved.</li>
						</ul>
					</div>
				</section>

		</div>
	</body>
</html>