<!DOCTYPE HTML>
<html lang="en">
	<head>
		<title>Billsify Home</title>
		<meta charset="utf-8" />
		<link rel="shortcut icon" href="../images/favicon.ico" type="image/x-icon">
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="../css/main.css" />
	</head>
	<body class="no-sidebar is-preload">
		<div id="page-wrapper">

			<!-- Header -->
				<section id="header">
					<div class="container">

						<!-- Logo -->
						<h1 id="logo"><a href="../index.html"><i>₿</i>illsify</a></h1>
						<p>The application that simplifies the home economy</p>

						<!-- Nav -->
						<nav id="nav">
							<ul>
								<li><a class="icon solid fa-home" href="../index.html"><span>Home</span></a></li>
								<li><a class="icon solid fa-cogs" href="application_details.html"><span>Application Details</span></a></li>
								<li class="active"><a class="icon solid fa-dollar-sign" href="go_premium.html"><span>Go premium </span></a></li>
								<li><a class="icon solid fa-mail-bulk" href="contact.html"><span>Contact Us</span></a></li>
							</ul>
						</nav>

					</div>
				</section>

			<!-- Main -->
				<section id="main">
					<h2 class="hidden">Main section of premiun page</h2>
						<div class="container">
							<div class="row">

								<!-- Content -->
									<div id="content" class="content col-8 col-12-medium">

										<section>
											<header>
												<h2>Full control over your <strong>bills</strong><br />
													Capture and keep track!</h2>
											</header>
											<h3>Ask for our premium plans</h3>
											<p>
												Since the app is very young we are very open to suggestions and improvements. Therefore our premium plan includes tailor
												made features and additions to the main application. Write to us using the bellow form, explain your ideas, our commercial team
												will get back to you with the details of the budget and the delivery time-table.
											</p>
											<form method="post" action="#">
												<div class="row gtr-50">
													<div class="col-12">
														<input name="name" placeholder="Name" type="text" required/>
													</div>
													<div class="col-6 col-12-small">
														<input name="email" placeholder="Email" type="text" required/>
													</div>
													<div class="col-6 col-12-small">
														<input name="phone" placeholder="Phone number" type="text" required/>
													</div>
													<div class="col-12">
														<textarea name="message" placeholder="Describe your request here" required></textarea>
													</div>
													<div class="col-12">
														<label>
															<input type="checkbox" id="privacy_policy" onchange="document.getElementById('submit').disabled = !document.getElementById('privacy_policy').checked;"/>
															Privacy Policy
														</label>
													</div>
													<div class="col-12">
														<label>
															<input id="submit" type="submit" class="form-button-submit button icon solid fa-envelope" value="Send" disabled/>
														</label>
													</div>
												</div>
											</form>
										</section>

									</div>

								<!-- Sidebar -->
									<div id="sidebar" class="col-4 col-12-medium">
										<!-- Post -->
										<article class="box post">
											<span class="image featured"><img src="../images/invoice.gif" alt="Billsify OCR"/></span>
											<h3>Household Economy</h3>
											<p>The applicatoin aims to support the management of the household economy.
												The main functionality is to allow capturing and storing captures of invoices and printed receipts.</p>
											<h3>Capture invoices, classify them, balance overview</h3>
											<p>Existing applications do not allow direct control.
												The application also allows the capture of invoices, their classification and the calculation
												of the balance of expenses by categories.</p>
											<h3>OCR (Optical Character Recognition)</h3>
											<p>
												In future versions it is intended to include image processing and pattern recognition in the form
												of OCR (Optical Character Recognition) service to extract text from captured image of the stored bills</p>
											<ul class="actions">
												<li><a href="application_details.html" class="button icon solid fa-file">Learn More</a></li>
											</ul>
										</article>

									</div>

							</div>
						</div>
					</section>

			<!-- Footer -->
				<section id="footer">
					<div class="container">
						<header>
							<h2>Questions or comments? <strong>Get in <a href="contact.html">touch:</a></strong></h2>
						</header>
						<div class="row">
							<div class="col-12 col-12-medium">
								<section>
									<h2 class="hidden">Contact us</h2>
									<p>Get in contact with us <a href="contact.html">here</a> or via social media</p>
									<div class="row">
										<div class="col-6 col-12-small">
											<ul class="icons">
												<li class="icon solid fa-home">
													Carrer AlgunSitio 1234<br />
													Valencia, Valencia, CP: 460001<br />
													Spain
												</li>
												<li class="icon solid fa-phone">
													(+34) 612 34 56 78
												</li>
												<li class="icon solid fa-envelope">
													<a href="contact.html#">info@billsify.com</a>
												</li>
											</ul>
										</div>
										<div class="col-6 col-12-small">
											<ul class="icons">
												<li class="icon brands fa-twitter">
													<a href="#">@billsfy</a>
												</li>
												<li class="icon brands fa-instagram">
													<a href="#">instagram.com/billsfy</a>
												</li>
												<li class="icon brands fa-dribbble">
													<a href="#">dribbble.com/biilsfy</a>
												</li>
												<li class="icon brands fa-facebook-f">
													<a href="#">facebook.com/biilsfy</a>
												</li>
											</ul>
										</div>
									</div>
								</section>
							</div>
						</div>
					</div>
					<div id="copyright" class="container">
						<ul class="links">
							<li>&copy; ₿illsify. All rights reserved.</li>
						</ul>
					</div>
				</section>

		</div>
	</body>
</html>